<ul class="nav nav-pills nav-stacked">
    {% set isInnerCategory = 0 %}
    {% for category in categories %}
        {% if category.id == category.groupId %}
            {% if isInnerCategory == 2 %}</ul></li>{% endif %}
            <li><a href="{{ path('app.wiki.category', {"categoryId": category.id}) }}">{{ category.name }}</a>
            {% set isInnerCategory = 1 %}
        {% endif %}

        {% if category.id != category.groupId %}
            {% if isInnerCategory == 1 %}<ul>{% endif %}
            <li>
                <a href="{{ path('app.wiki.category', {"categoryId": category.id}) }}">{{ category.name }}</a>
            </li>
            {% set isInnerCategory = 2 %}
        {% endif %}
    {% endfor %}
    {% if isInnerCategory == 1 %}</li>{% endif %}
</ul>