/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    background-color: #f5f5f5;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
.top0 {
    margin-top: 0;
}

.top20 {
    margin-top: 20px;
}

.bottom20 {
    margin-bottom: 20px;
}

.pull-right {
    float: right !important;
}

.text-background {
    background-color: #fff;
    border-radius: 5px;
}

.text-padding {
    padding: 5px;
}

.inner-title-wiki {
    display: none;
}

.list-comments-user {
    overflow: scroll;
    min-height: 400px;
    max-height: 800px;
}

.list-wiki-user {
    overflow: scroll;
}

.list-wiki-user .list-wiki {
    min-width: 260px;
    max-width: 8000px;
}