/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    color: rgb(255, 255, 255);
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    background-color: rgb(69, 69, 69);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

h1, h2, h3, h4, h5, h6, a {
    color: rgb(255, 175, 30);
}

a:hover {
    color: rgb(255, 166, 0);
}

/* Custom page CSS
-------------------------------------------------- */
.top0 {
    margin-top: 0;
}

.top20 {
    margin-top: 20px;
}

.bottom20 {
    margin-bottom: 20px;
}

.pull-right {
    float: right !important;
}

.text-padding {
    padding: 5px;
}

.inner-title-wiki {
    display: none;
}

.list-comments-user {
    overflow: scroll;
    min-height: 400px;
    max-height: 800px;
}

.list-wiki-user {
    overflow: scroll;
}

.list-wiki-user .list-wiki {
    min-width: 260px;
    max-width: 8000px;
}