html, body {
    min-height: 100%;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: rgb(52, 52, 52);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

h1, h2, h3, h4, h5, h6, a {
    color: rgb(255, 175, 30);
}

a:hover {
    color: rgb(255, 166, 0);
}

a:active {
    color: rgb(255, 166, 0);
}

/* Custom page CSS
-------------------------------------------------- */
.top0 {
    margin-top: 0;
}

.top20 {
    margin-top: 20px;
}

.bottom20 {
    margin-bottom: 20px;
}

.text-padding {
    padding: 5px;
}

.inner-title-wiki {
    display: none;
}

.text-background {
    height: 100%;
    background-color: rgb(69, 69, 69);
}

.href-decoration {
    text-decoration: underline;
}